nav.user-view__menu
    ul.side-nav
        li.settings.side-nav--active
            a(href='/myaccount')
                svg
                    use(xlink:href='/img/icons.svg#icon-settings')
                | Settings
        li.settings
            a(href='/myaccount/sessions')
                img.soccer-ball(src='/img/soccer-ball.png')
                | My Sessions
        li.settings
            a(href='/myaccount/players')
                svg
                    use(xlink:href=`/img/icons.svg#icon-star`)
                | My Players
        li.settings
            a(href='/myaccount/billing')
                svg
                    use(xlink:href='/img/icons.svg#icon-credit-card')
                | Billing
    if user.role === 'admin' || user.role === 'coach'
        .admin-nav
            h5.admin-nav__heading Admin
            ul.side-nav
                li.admin-settings
                    a(href='/myaccount/admin/sessions')
                        img.soccer-ball(src='/img/soccer-ball.png')
                        | Manage Sessions
                li.admin-settings
                    a(href='/myaccount/admin/users')
                        svg
                            use(xlink:href='/img/icons.svg#icon-users')
                        | Manage Users
                li.admin-settings
                    a(href='/myaccount/admin/players')
                        svg
                            use(xlink:href='/img/icons.svg#icon-star')
                        | Manage Players
                li.admin-settings
                    a(href='#')
                        svg
                            use(xlink:href='/img/icons.svg#icon-credit-card')
                        | Manage Billing
    else 
        span.hidden