.footer-top 
    .logo 
        img(src='/img/logo.webp')
    .address
        h3.address 
            address XL SOCCER WORLD NONA
        h3.address.lineTwo
            address 12314 SUTTNER AVE, ORLANDO, FL 32827
        h3 
            a.email(href='mailto: email nona@xlsportsworld.com') nona@xlsportsworld.com
        h3 
            a.phone(href='407.863.3101') (407) 863-3101

    ul.footer__nav
        li: a(href='/') HOME 
        li: a(href='#') Leagues 
        li: a(href='#') Youth Sports
        li: a(href='#') Camps 
        li: a(href='#') Birthdays & Events
        li: a(href='#') Youth Academy
        li: a(href='#') More
    
.footer-bottom
    p.footer__copyright &copy; Site Created by Literally Possible, LLC

    