mixin reviewCard(reviewer)
  if reviewer.review
    .reviews__card
      .reviews__avatar
        img.reviews__avatar-img(src=`/img/users/default.jpg`, alt=`User Profile Image`)
        h6.reviews__user= reviewer.user.name
      p.reviews__text= reviewer.review
      .reviews__rating
        each star in [1, 2, 3, 4, 5]
          svg.reviews__star(class=`reviews__star--${reviewer.rating >= star ? 'active' : 'inactive'}`)
            use(xlink:href='/img/icons.svg#icon-star')