doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title XL Soccer World | Never Stop Playing
        link(rel='stylesheet' href='/css/style.css')
        link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
    body 
        header
            include _header

        block content 
            h1 Placeholder 
            
        footer.footer 
            include _footer

    script(src='https://js.stripe.com/v3/')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" crossorigin="anonymous" referrerpolicy="no-referrer")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/core-js/3.31.1/minified.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js')
    script(src='/js/index.js' type="module")    