extends base
include _reviewCard

block content 
    section.CSSgal
        s#s1 
        s#s2
        s#s3
        s#s4

        div.slider
            div.slide(style='background: url(/img/xl-main-img.jpg);')
                    h2 Welcome to XL Lake Nona

            div.slide(style='background:#85b;')
                    h2 Slide 2
                
            div.slide(style='background:#e95;')
                    h2 Slide 3
                
            div.slide(style='background:#e59;')
                    h2 Slide 4
                
        div.prevNext
            div 
                a.sNavBtn(href='#s4') <
                a.sNavBtnsNavBtn(href='#s2') >
            div 
                a.sNavBtn(href='#s1') <
                a.sNavBtn(href='#s3') >
            div 
                a.sNavBtn(href='#s2') <
                a.sNavBtn(href='#s4') >
            div 
                a.sNavBtn(href='#s3') <
                a.sNavBtn(href='#s1') >

    section.mantra-banner
        img.banner(src='/img/nsp-banner.jpg' alt='Never Stop Playing Banner')
        p.updates INDOOR SOCCER IS HERE IN LAKE NONA<br>ADD YOUR EMAIL TO THE FORM BELOW TO BE KEPT UPDATED WITH PROGRESS AND ONLINE REGISTRATION OPENINGS
        
    section.img-content
        .img-half.left
        .content-half.right
            h2 XL Coaching Philosophy
            h6 Mission Statement
            p Providing a fun, safe and nurturing environment where kids acquire the skills and knowledge they need to successfully participate in the game of soccer. We believe that a child who goes through our program will become a well-rounded soccer player.
            h6 Philosophy
            p All of us at XL Soccer World believe that well-rounded soccer players not only possess solid skills on the ball (passing, shooting, ball control, dribbling, foot skills) but also have a good understanding of how to integrate themselves within the framework of a team when off the ball.
            p Reading and anticipating the game, moving into spaces, communicating with and supporting teammates, transitioning quickly from attack to defense (to attack) are all traits that players who learn to play at our facility will be exposed to over the course of their learning experience.  
            p We believe that in order to learn to play the game, players need to be challenged to play fast, make quick decisions, and still maintain control of the ball. Indoor soccer tests these skills on a regular basis due to the high intensity of the game and the fact that the ball never goes out of bounds. As coaches, we are less focused on the score of the games our teams play and are more concerned about how the players demonstrate the skills and concepts we work on in practice. We view the games as an opportunity for the children to make good decisions on and off the ball, to move and support each other and to control and pass the ball rather than to kick it with all their might every time they touch it. We are focused on how the teams, as well as each child, demonstrate those concepts and skills. Learning to control the pace and rhythm of the game as a team, through ball possession and passing, is an integral to our program at XL Soccer World. Players will learn that the other team cannot score when our team maintains possession of the ball.

    section.img-content.contact    
        .content-half.left
            h2 SEND US A MESSAGE
            form.form.form-contact
                .form__group
                    label.form__label(for='name')
                    input#contactName.form__input(type='text', placeholder='Name', required, minlength='5')
                .form__group
                    label.form__label(for='email')
                    input#contactEmail.form__input(type='password', placeholder='Email', required, minlength='8')
                .form__group.ma-bt-lg
                    label.form__label(for='Message')
                    textarea#contactMessage.form__input(type='text', placeholder='Add a Message', minlength='8', rows='5', cols='33')
                h6 I am interested in:
                .form__group.checkboxes
                    .column
                        .cbox-wrap
                            span.cbox
                                input#adultLeagues(type='checkbox')
                                label(for='adultLeagues') Adult Leagues
                            |
                            |
                            span.cbox
                                input#youthLeagues(type='checkbox')
                                label(for='youthLeagues') Youth Leagues
                            |
                            |
                            span.cbox
                                input#specNeeds(type='checkbox')
                                label(for='specNeeds') Special Needs
                            |
                            |
                            span.cbox
                                input#soccerCamps(type='checkbox')
                                label(for='soccerCamps') Soccer Camps
                    .column
                        .cbox-wrap
                            span.cbox
                                input#soccerSchool(type='checkbox')
                                label(for='soccerSchool') Soccer School
                            |
                            |
                            span.cbox
                                input#fieldRentals(type='checkbox')
                                label(for='fieldRentals') Field Rentals
                            |
                            |
                            span.cbox
                                input#birthdays(type='checkbox')
                                label(for='birthdays') Birthday Parties
                            |
                            |
                            span.cbox
                                input#futsal(type='checkbox')
                                label(for='futsal') Futsal
                    .column
                    
                        .cbox-wrap
                            span.cbox
                                input#pickup(type='checkbox')
                                label(for='pickup') Pickup Games
                            |
                            |
                            span.cbox
                                input#watchParties(type='checkbox')
                                label(for='watchParties') Watch Parties
                            |
                            |
                            span.cbox
                                input#sponsorship(type='checkbox')
                                label(for='sponsorship') Sponsorship
                            |
                            |
                            span.cbox
                                input#careers(type='checkbox')
                                label(for='careers') Career Opportunities

                .form__group.right
                    button.btn.btn--small.btn--red.btn--save-password SEND
        .img-half.right

    section.section-reviews
        h2 What the Community is Saying
        div.reviews
            if review
                each reviewer in review
                    +reviewCard(reviewer)
    
    section.map 
        .map-bg
            img(src='/img/map.jpg')
            .map-overlay
                h3.address 
                    address XL SOCCER WORLD NONA
                h3.address.lineTwo
                    address 12314 SUTTNER AVE, ORLANDO, FL 32827

                h3 
                    a.email(href='mailto: email nona@xlsportsworld.com') nona@xlsportsworld.com
                h3 
                    a.phone(href='407.863.3101') (407) 863-3101
