extends base

block content
        main.main
            .user-view
                include _account-menu
                .user-view_container
                    h1.page-title My Sessions
                    div.my_sess--card-container
                        .my_sess--wrap.headings
                            h3.my_sess--heading Activity Name 
                            h3.my_sess--heading Dates
                            h3.my_sess--heading Coaches 
                            h3.my_sess--heading Location 
                            h3.my_sess--heading Price
                        each session in sessions
                            div.my_sess--wrap
                                h3.name= session.name  

                                span.date
                                    span= (session.startDates[0]).toLocaleDateString('en-US')
                                
                                span.trainers
                                    each trainer in session.trainers
                                        span= `${JSON.stringify(trainer, ['name']).replace(/"name/g, "").replace(/[`()|;:'",\{\}\[\]\\\/]/gi, '')}`
                                span.location
                                    span Lake Nona
                            
                                span.price $#{session.price}
